@import url('https://fonts.googleapis.com/css2?family=YourFontHere&display=swap');

#main-nav ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding-bottom: 20px;
}

#main-nav li {
    list-style-type: none;
    padding: 10px;
}

#main-nav li a {
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    font-family: Arial, sans-serif;
    font-size: smaller;
}

.nav-home a {
    color: white;
}

.nav-default a {
    color: var(--dark-grey);
}

@media (max-width: 768px) {
    #main-nav ul {
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
  
    #main-nav li a {
      padding: 8px 12px;
      font-size: 16px;
    }
  }