@import url('https://fonts.googleapis.com/css2?family=YourFontHere&display=swap');

#main-nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    flex: 1;
}

#main-nav li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    font-family: Arial, sans-serif;
}

#main-nav ul li a:hover {
    color: var(--babypink);
    text-decoration: underline;
}

.nav-home a {
    color: white;
}

.nav-default a {
    color: var(--dark-grey);
}

@media (max-width: 768px) {
    /* Hide navigation links by default */
    #main-nav {
        display: none;
    }
}