.pagination {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .prev, .next {
    background: var(--white);
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--dark-grey);
    text-align: center;
    width: 100%;
    max-width: 150px;
  }
  